.welcomeHero {
  height: fit-content;
  width: 300px;
  margin: 0 auto;
  padding: 0 0 30px;
  &__title {
    font-size: 32px;
    margin-bottom: 15px;
  }
  &__text {
    font-size: 22px;
    margin-bottom: 15px;
  }
}

.ambience {
    margin: 0 auto;
    border-radius: 4px;
    padding: 40px 20px 20px;
    height: 570px;
    width: 100%;
    text-align: center;
    background-color: rgb(22, 27, 31);
    &__title {
      margin: 0 auto 10px;
      font-size: 28px;
    }
    &__list {
      list-style: none;
      text-align: center;
    }
    &__listItem {
      width: 300px;
      background-color: #202b33;
      border: solid 1px grey;
      border-radius: 4px;
      padding: 10px 20px;
      color: #ffffff;
      font-size: 20px;
      margin: 0 auto 10px;
      cursor: pointer;
    }
    &__listItem:nth-child(4) {
      animation: fadeIn linear .4s;
    }
    &__listItem:hover {
      border: solid 1px white;
      background-color: black;
    }
    &__listItem:active {
      background-color: #202b33;
    }
  }

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}