* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.App {
  height: 100%;
  font-family: Helvetica, sans-serif;
  background-color: rgb(34, 34, 34);
  color: rgb(250, 250, 250);
  padding: 50px;
}

.App-title {
  font-size: 50px;
  padding: 25px 0;
}

//LOGO

.dopplerLogo {
  margin: 0 auto 30px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.circle {
  border: 1px solid white;
  border-radius: 50%;
  width: 80%;
  height: 80%;
  .circle:hover & {
    transform: translateX(10%);
  }
}

.circle0 {
  @extend .circle;
  width: 100px;
  height: 100px;
  position: relative;
}

.circle1 {
  @extend .circle;
  position: absolute;
  transition: all .5s linear;
  top: 10%;
  left: 10%;
}

.circle2 {
  @extend .circle;
  position: absolute;
  transition: all .5s linear;
  top: 10%;
  left: 10%;
}

.circle3 {
  @extend .circle;
  position: absolute;
  transition: all .5s linear;
  top: 10%;
  left: 10%;
}

.circle4 {
  @extend .circle;
  position: absolute;
  transition: all .5s linear;
  top: 10%;
  left: 10%;
}

//ABOUT

.music,
.about {
  margin: 0 auto 30px;
  border: 2px solid grey;
  border-radius: 4px;
  padding: 20px;
  height: fit-content;
  width: 300px;
  background-color: rgb(22, 27, 31);
  box-shadow: 0 3px 6px rgb(12, 12, 12);
  &__text {
    margin-bottom: 15px;
    font-size: 20px;
    cursor: pointer
  }
  &__text:last-child {
    margin-bottom: 0;
  }
  &__text:hover {
    color:lightgrey;
  }
  &__textExpanded {
    color: lightgrey;
    margin-bottom: 15px;
    font-size: 16px;
    margin-left: 20px;
    list-style: circle;
  }
  &__expandedList {
    margin-bottom: 5px;
  }
  &__expandedWrapper {
    border-bottom: solid 1px grey;
    padding-bottom: 5px;
    margin-bottom: 15px;
  }
  &__expandedWrapper:last-child {
    margin-bottom: 0;
  }
  &__minimizeExpanded {
    text-align: right;
    color: lightgrey;
    cursor: pointer;
  }
  &__minimizeExpanded:hover {
    color: white;
  }
}

//STOPWATCH

.stopwatch {
  text-align: center;
  margin: 30px auto 150px;
  border: 2px solid grey;
  border-radius: 4px;
  padding: 20px;
  height: fit-content;
  width: 300px;
  background-color: rgb(22, 27, 31);
  box-shadow: 0 3px 6px rgb(12, 12, 12);
}

.stopwatchHeader {
  font-size: 40px;
  font-weight: bold;
}

.stopwatchButtons {
  display: flex;
  justify-content: center;
}

button {
  background-color: #202b33;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  margin: 10px 5px;
  cursor: pointer;
}
button:hover {
  border: solid 1px white;
  background-color: black;
}
.stopwatch button {
  padding: 12px 25px;
  font-size: 20px;
}
.stopwatchDisplay {
  font-size: 48px;
}

//MUSIC

.music {
  &__header {
    margin-bottom: 10px;
  }
  &__list {
    list-style: none;
    text-align: center;
  }
  &__listItem {
    background-color: #202b33;
    border: solid 1px transparent;
    border-radius: 4px;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    margin: 0 5px 10px;
    cursor: pointer;
  }
  &__listItem:hover {
    border: solid 1px white;
    background-color: black;
  }
}

//FLAME

.wrapper {
  position: absolute;
  display: block;
  left: 50%;
  margin-left: -40px;
}

.clickBox {
  cursor: pointer;
}

.red {
  width: 80px;
  height: 80px;
  background: orangered;
  box-shadow: 0px 0px 10px 5px orangered;
}
.orange {
  left:10px;
  width: 60px;
  height: 60px;
  background: orange;
  box-shadow: 0px 0px 12px 6px orange;
}
.gold {
  left:18px;
  width: 45px;
  height: 45px;
  background: gold;
  box-shadow: 0px 0px 9px 4px gold;
}
.white {
  left:22px;
  width: 35px;
  height: 35px;
  background: lightyellow;
  box-shadow: 0px 0px 9px 4px lightyellow;
}
.blue {
  left:32px;
  width: 15px;
  height: 15px;
  background: darkblue;
  box-shadow: 0px 0px 15px 10px darkblue;
}
.black {
  left:20px;
  width: 40px;
  height: 40px;
  bottom:-50px;
  background:  rgb(34, 34, 34);
  box-shadow: 0px 0px 15px 10px rgb(34, 34, 34);
}
.base {
  border-radius: 50%;
  position: absolute;
}
.flame-wrapper {
  position: relative;
  animation: flicker 3ms ease-in infinite;
}
.flame {
  bottom: 0;
  position: absolute;
  border-radius: 50% 0% 50% 50%;
  transform: rotate(-45deg);
}
@keyframes flicker {
  0% {transform: rotate(-1deg);}
  20% {transform: rotate(2deg) scaleY(1.05);}
  40% {transform: rotate(-1deg);}
  60% {transform: rotate(1deg);}
  80% {transform: rotate(-1deg) scaleY(0.90);}
  100% {transform: rotate(1deg);}
}