.dopplerLogo {
    margin: 0 auto 50px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    cursor: pointer;
  }
  
  .circle {
    border: 2px solid white;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    .circle:hover & {
      transform: translateX(10%);
    }
  }
  
  .circle0 {
    @extend .circle;
    width: 200px;
    height: 200px;
    position: relative;
  }
  
  .circle1 {
    @extend .circle;
    position: absolute;
    transition: all .5s linear;
    top: 10%;
    left: 10%;
  }
  
  .circle2 {
    @extend .circle;
    position: absolute;
    transition: all .5s linear;
    top: 10%;
    left: 10%;
  }
  
  .circle3 {
    @extend .circle;
    position: absolute;
    transition: all .5s linear;
    top: 10%;
    left: 10%;
  }
  
  .circle4 {
    @extend .circle;
    position: absolute;
    transition: all .5s linear;
    top: 10%;
    left: 10%;
  }