.stopwatch {
    text-align: center;
    margin: 0 auto;
    padding: 20px 20px 250px;
    height: fit-content;
    width: 300px;
    background-color: #161b1f;
    &__text {
      font-size: 30px;
      margin-bottom: 25px;
      color: lightgrey;
    }
    &__buttonsWrapper {
      display: flex;
      justify-content: center;
    }
    &__button {
      background-color: #202b33;
      border: solid 1px grey;
      border-radius: 4px;
      padding: 12px 25px;
      color: #ffffff;
      font-size: 20px;
      margin: 10px 5px;
      cursor: pointer;
      animation: fadeIn linear .4s;
      list-style: none;
    }
    &__button:hover {
      border: solid 1px white;
      background-color: black;
    }
    &__button:active {
      background-color: #202b33;
    }
    &__display {
      font-size: 48px;
    }
  }
  
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}