.stopwatch {
    text-align: center;
    margin: 0 auto;
    border-radius: 4px;
    padding: 100px 20px;
    height: 500px;
    width: 100%;
    background-color: rgb(22, 27, 31);
    &__title {
      margin: 0 auto 10px;
      font-size: 32px;
      text-transform: capitalize;
    }
    &__buttonsWrapper {
      display: flex;
      justify-content: center;
    }
    &__button {
      background-color: #202b33;
      border: solid 1px grey;
      border-radius: 4px;
      padding: 12px 25px;
      color: #ffffff;
      font-size: 20px;
      margin: 10px 5px;
      cursor: pointer;
      animation: fadeIn linear .4s;
      list-style: none;
    }
    &__button:hover {
      border: solid 1px white;
      background-color: black;
    }
    &__button:active {
      background-color: #202b33;
    }
    &__display {
      font-size: 48px;
    }
  }
  
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}