.finishButton {
  background-color: #202b33;
  border: solid 1px grey;
  border-radius: 4px;
  padding: 12px 25px;
  color: #ffffff;
  font-size: 20px;
  margin: 0 auto;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
}

.buttonBox {
  width: 100%;
  text-align: center;
  margin-top: 150px;
}

.tips {
  margin: 0 auto;
  padding: 25px 30px 30px;
  height: fit-content;
  width: 100%;
  background-color: #161b1f;
  &__text {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: #202b33;
    border: solid 1px grey;
    border-radius: 4px;
  }
  &__text:active {
    background-color: #161b1f;
  }
  &__text:last-child {
    margin-bottom: 0;
  }
  &__text:hover {
    color:lightgrey;
  }
  &__textExpanded {
    color: lightgrey;
    margin-bottom: 15px;
    font-size: 16px;
    margin-left: 20px;
    list-style: circle;
  }
  &__expandedList {
    margin-bottom: 5px;
  }
  &__expandedWrapper {
    border-bottom: solid 1px grey;
    padding-bottom: 5px;
    margin-bottom: 15px;
    animation: fadeIn ease-in-out .4s;
  }
  &__expandedWrapper:last-child {
    margin-bottom: 0;
  }
  &__minimizeExpanded {
    text-align: right;
    color: lightgrey;
    cursor: pointer;
  }
  &__minimizeExpanded:hover {
    color: white;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}