
.tips {
  margin: 225px auto 0;
  border: 2px solid grey;
  border-radius: 4px;
  padding: 30px;
  height: fit-content;
  width: 300px;
  background-color: rgb(22, 27, 31);
  box-shadow: 0 3px 6px rgb(12, 12, 12);
  &__text {
    margin-bottom: 15px;
    font-size: 20px;
    cursor: pointer
  }
  &__text:last-child {
    margin-bottom: 0;
  }
  &__text:hover {
    color:lightgrey;
  }
  &__textExpanded {
    color: lightgrey;
    margin-bottom: 15px;
    font-size: 16px;
    margin-left: 20px;
    list-style: circle;
  }
  &__expandedList {
    margin-bottom: 5px;
  }
  &__expandedWrapper {
    border-bottom: solid 1px grey;
    padding-bottom: 5px;
    margin-bottom: 15px;
    animation: fadeIn linear .4s;
  }
  &__expandedWrapper:last-child {
    margin-bottom: 0;
  }
  &__minimizeExpanded {
    text-align: right;
    color: lightgrey;
    cursor: pointer;
  }
  &__minimizeExpanded:hover {
    color: white;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}